@tailwind base;
@tailwind components;
@tailwind utilities;

/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

body {
  color: white;
}

@layer base {
  body {
    @apply text-base;
  }
  h1 {
    @apply text-[2.75em] leading-[3.5em] text-GreyPrimary font-roboto font-bold;
  }
  h2 {
    @apply text-[1.875em] leading-[2.5em] text-GreyPrimary font-roboto font-bold;
  }
  h3 {
    @apply text-[1.375em] leading-[2em] text-GreyPrimary font-roboto font-bold;
  }
  h4 {
    @apply text-[1em] leading-[2em] text-GreyPrimary font-roboto font-bold;
  }
  h5 {
    @apply text-[1em] leading-[1.5em] text-GreyPrimary font-roboto font-bold;
  }
  p {
    @apply text-[1em] leading-[1.5em] text-GreyPrimary font-roboto;
  }
}
